<!DOCTYPE html>

<html>

  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{!-- rendering a hsb partial --}}
      {{>header}}
      <p>Hello, my name is Inigo Montoya...</p>
      <img class="portrait" src="/img/inigo.jpeg">
    </div>
    
    {{>footer}}
  </body>

</html>
