<!DOCTYPE html>

<html>

  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{!-- rendering a hsb partial --}}
      {{>header}}

      <p>Seach for the weather anywhere</p>

      <form>
        <input placeholder="Location">
        <button>Search</button>
      </form>

      <p id="address-location"></p>
      <p id="weather-response"></p>
    </div>

    {{>footer}}

    {{!-- load scripts --}}
    <script src="/js/app.js" ></script>
  </body>

</html>

